/* to horizontally center - margin: 0 auto */

/* display: flex - allows us to use flexbox as a tool */
/* * {
    border-color: black;
    border-width: 2px;
    border-style: solid;
} */

header {
    width: 100%;
    font-family: Open Sans, Oswald;
    color: white;
    background-color: #004175;
    border-bottom: 2px solid #89DEEF;
    padding: 1px;
    /* can i make this shorter top to bottom? */
}

main {
    padding-left: 15px;
}

h1 {
    padding-left: 15px;
}

h2 {
    font-family: Open Sans;
    /* padding-left: 15px; */
}

p {
    font-family: Open Sans;
}


#all-dogs {
    /* the border is just so I can see what it's doing while I futz */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dog {
    width: 32%;
    margin-bottom: 20px;
    /* width: auto 0%; */
}

img {
    width: 100%;
}

article h3 {
    font-family: Oswald;
    margin-top: 2px;
    margin-bottom: 1px;
}

.traits {
    margin-top: 1px;
    /* border: 2px solid orange; */
    display: flex;
    /* justify-content: space-between; */
    /* we chose flex-start to align the traits left rather than space them out across the page */
    justify-content: flex-start;
    flex-flow: wrap;

}


.traits>span {
    flex-flow: row nowrap;
    font-size: small;
    font-family: Open Sans;
    margin-left: 1px;
    /* display: flex; */
    /* flex: flex-flow; */
    /* height: 5px; */
    border-radius: 30px;

    padding: 5px;
    /* width: 10px; */
    background-color: #89DEEF;
}

footer {
    box-sizing: border-box;
    /* display: flex;
} */