/* to horizontally center - margin: 0 auto */

/* display: flex - allows us to use flexbox as a tool */
header {
    text-align: center;
    color: white;
    background-color: #004175;
    border-bottom: 2px solid #89DEEF;
    padding: 1px;
    /* can i make this shorter top to bottom? */
}