/* to horizontally center - margin: 0 auto */

/* display: flex - allows us to use flexbox as a tool */
/* * {
    border-color: black;
    border-width: 2px;
    border-style: solid;
} */

header {
    width: 100%;
    font-family: Open Sans, Oswald;
    color: white;
    background-color: #004175;
    border-bottom: 2px solid #89DEEF;
    padding: 1px;
    /* can i make this shorter top to bottom? */
}

main {
    padding-left: 15px;
}

h1 {
    padding-left: 15px;
}

h2 {
    font-family: Open Sans;
    /* padding-left: 15px; */
}

p {
    font-family: Open Sans;
}


#all-dogs {
    /* the border is just so I can see what it's doing while I futz */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dog {
    width: 32%;
    margin-bottom: 20px;
    /* width: auto 0%; */
}

img {
    width: 100%;
}

article h3 {
    font-family: Open Sans;
    margin-top: 2px;
    margin-bottom: 1px;
}

.traits {
    margin-top: 1px;
    /* border: 2px solid orange; */
    display: flex;
    /* justify-content: space-between; */
    /* we chose flex-start to align the traits left rather than space them out across the page */
    justify-content: flex-start;
    flex-flow: wrap;

}


.traits>span {
    font-weight: 500;
    flex-flow: row nowrap;
    font-size: small;
    font-family: Open Sans;
    margin: 0px 5px 4px 0px;
    /* display: flex; */
    /* flex: flex-flow; */
    /* height: 5px; */
    border-radius: 30px;
    justify-content: space-between;
    padding: 5px;
    /* width: 10px; */
    background-color: #89DEEF;
}

nav {
    display: flex;
}

.container {
    background-color: rgb(107, 111, 231);
    width: 33%;
    position: relative;
    text-align: center;
    color: white;
}

.container>img {
    height: 100%;
    object-fit: cover;

}

.link-text {
    width: 100%;
    /* height: 100%; */
    /* Making height 100% fills the footer with color, but changes position of text :( */
    background-color: rgba(166, 169, 240, 0.6);
    font-weight: 500;
    font-family: Oswald;
    font-size: 2.5em;
    text-align: center;
    /* How do I get "our location" to stay in-line? */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}